body {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App form {
  text-align: end;
  margin-top: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

.temperature {
  font-size: 80px;
}

.degreeSymbol {
  position: relative;
  top: -38px;
}
